<!doctype html>{% load staticfiles %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{% block title %}Pronostics Coupe du monde 2014{% endblock %}</title>
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "css/dashboard.css" %}">
<link rel="stylesheet" href="{% static "css/screen.css" %}">
<link rel="shortcut icon" href="{% static "images/favicon.png" %}">

<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Pronostics Coupe du monde 2014</a>
    </div>
    <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
    			<li><a href="{% url 'pronos_WC_logout' %}">Welcome, {{ user.first_name }} </a> <li><a href="{% url 'pronos_WC_logout' %}">Déconnexion</a>
    		{% else %}
			    <li><a href="{% url 'pronos_WC_login' %}">Connexion</a>
			{% endif %}
          </ul>
        </div>
  </div>
</div>
{% if user.is_authenticated %}
	<div class="container-fluid">
	  <div class="row">
	  		<div class="col-sm-3 col-md-2 sidebar">
	          <ul class="nav nav-sidebar">
	            <li><a href="{% url 'classement' %}">Classement</a></li>
	            <li><a href="{% url 'match' %}">Match futurs</a></li>
	            <li><a href="{% url 'resultat' %}">Résultats</a></li>
	            <li><a href="{% url 'pronostics' %}">Mes pronostics</a></li>
	          </ul>
	        </div>
	  		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	  			{% block contents %}
				
				{% endblock %}
			</div>
	</div>
	</div>
{% else %}
	<div class="container-fluid">
		{% block contents_connexion %}
		
		{% endblock %}
	</div>
{% endif %}



