{% extends "base.html" %} {% block contents %}
	<h1 class="page-header">Résultats</h1>
	<div class="table-responsive">
		{% for key, matches in match_list.items %}
		    {{key}}
		    <table class="table table-striped">
			{% for match in matches %}
			    	<tr>
			    		<td class="text-center flag"><img src="{{ match.equipe1.drapeau_thumbnail.url }}" /></td> 
			    		<td class="text-center name">{{ match.equipe1.nom }}</td>
			    		<td class="text-center score">{{ match.equipe1_result }}</td>
			    		<td class="text-center separation">-</td>
			    		<td class="text-center score">{{ match.equipe2_result }}</td>
			    		<td class="text-center name">{{ match.equipe2.nom }}</td>
			    		<td class="text-center flag"><img src="{{ match.equipe2.drapeau_thumbnail.url }}" /></td>
				</tr>
			{% endfor %}
		    </table><br /><br />
		{% endfor %}
	</div>
{% endblock contents %} 
